<template>
<div id="chat">
    <ul id="channels">
       <li class="channel">general</li>
       <li class="channel new-message">random</li>
    </ul>
    <ul id="messages">
        <li class="message" v-for="msg in messages" v-text="msg"></li>
    </ul>
    <div id="input-area">
        <form>
            <input type="text" name="new-text" v-model="newText" />
            <button type="submit" v-on:click.prevent="updateMessage" value="Send">Send</button>
        </form>
    </div>
</div>
</template>

<script>
    import store from '../store'
    import { mapState } from 'vuex'
    export default {
        name: "Messages",
        data () {
            return {
                newText: "",
                initUrl: "http://localhost:8080/db/api/cmscom/general/@messages",
                updateUrl: "http://localhost:8080/db/api/cmscom/general/"
            }
        },
        computed: mapState({
            messages: state => state.messages,
        }),
        methods: {
            updateMessage () {
                store.commit("updateMessage", [this.newText, this.updateUrl]);
                this.newText = ""
            }
        },
        created () {
            store.commit("initMessages", this.initUrl)
        }
    }
</script>

<style scoped lang="scss">
#chat {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "channels messages"
                         "channels input";
    li {
        list-style: none;
    }
}
#channels {
    grid-area: channels;
    background-color: #9c6f04;
    text-align: left;
    padding-left: 10px;
    .channel {
        color: white;
    }
    .new-message {
        font-weight: bold;
    }
}

#messages {
    grid-area: messages;
    background-color: #c6e4f1;
    border: 1px solid #000000;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    /*height: 90%;*/
    .message {
        color: #2c6b00;
    }
}
#input-area {
    grid-area: input;
    margin: 0;
    padding-left: 10px;
    text-align: left;
    border: 2px solid #3D3E3F;
    input {

    }
    button {
        background-color: #2c6b00;
        color: white;
    }

}

</style>